<script src="./new-idea.js"></script>

<div id="main"></div>

<script>
  // const _personName = _("person");

  const mainNode = $([
    "div", //
    ["h1", "Greetings!"],
    ["p", "nice to meet you, ___"],
    [
      "input",
      {
        type: "input",
        on: {
          change() {
            console.log("change really did happen!!!");
            /*
            _message.update('event.target.value')
            */
          },
        },
        /*
        on: $_inputText(_message)
        on: {...textInputBinder(_message), mouseover() {}}
        */

        /*
        on: ['change', ()=>{}, 'change', ()=>{}]
        */
      },
    ],
    ["hr"],
    $([
      "input",
      {
        type: "text",
        on: {
          change(event) {
            update((state) => (state.message = event.target.value));
          },
        },
      },
    ]),
    [
      "p",
      "here is the message ",
      _("message"),
      // $(
      //   (_) => _.profiles,
      //   (profiles) => [
      //     "div",
      //     profiles.map((p) => [
      //       ["div", "name: ", p.name],
      //       ["div", "favoriate number: ", p.favoriteNumber],
      //     ]),
      //   ]
      // ),
    ],
  ]);
  document.getElementById("main").appendChild(mainNode);
</script>

<script>
  function allChildrenOuterHtml(node) {
    return Array.from(node.children)
      .map((ch) => ch.outerHTML)
      .join("");
  }

  function assert(statement, message = "test failed") {
    if (!statement) {
      throw alert(message);
    }
  }
  function assertEquals(a, b, message) {
    const result = a === b;
    const fullMessage = message + " " + a + " ?=== " + b;
    assert(result, fullMessage);
  }

  (function test_html() {
    const { toHtml } = htmlFactory();

    assertEquals(toHtml(["div"]), "<div></div>", "most basic");
    assertEquals(
      toHtml(["div", ["h1", "Greetings!"], ["p", "nice to meet you :)"]]),
      "<div><h1>Greetings!</h1><p>nice to meet you :)</p></div>"
    );
    assertEquals(toHtml(["div", { id: "foo" }]), `<div id="foo"></div>`);
    assertEquals(
      toHtml(["div", { id: "foo" }, "test"]),
      `<div id="foo">test</div>`
    );
    assertEquals(
      toHtml(["div", { id: "foo" }, ["span", "hi"]]),
      `<div id="foo"><span>hi</span></div>`
    );
  })();

  // (function test_dynamic_events() {
  //   const stateEvent = new StateEvent();
  //   const node = $(["div", { id: "foo" }, ["span", stateEvent]]);
  //   assertEquals(node.innerText, undefined);

  //   stateEvent.addEventListener("change", (e) => {
  //     assert(
  //       allChildrenOuterHtml(node).includes(`foobar`),
  //       "stateEvent should update value correctly"
  //     );
  //   });

  //   stateEvent.changed(["foobar"]);
  // })();

  // (function test_dynamic_in_dynamic() {
  //   const stateEvent = new StateEvent();
  //   const secretMessage = "all the way inside";
  //   const node = $(["div", { id: "bar" }, $(["span", secretMessage])]);

  //   assert(allChildrenOuterHtml(node).includes(secretMessage));
  // })();
</script>
